<mat-card class="flashcard" [@flyThrough]="animationState">
  <mat-card-content *ngIf="!isFeedback">
    <p class="question">{{ question }}</p>
    <div class="answers">
      <button *ngFor="let answer of shuffledAnswers" mat-flat-button class="answer-btn" (click)="selectAnswer(answer)">
        {{ answer }}
      </button>
    </div>
  </mat-card-content>

  <mat-card-content *ngIf="isFeedback">
    <mat-icon class="feedback-icon" [ngClass]="{
      'correct': !isSkippedFeedback && isCorrectFeedback,
      'incorrect': !isSkippedFeedback && !isCorrectFeedback,
      'skipped': isSkippedFeedback
    }">
      {{ isSkippedFeedback ? 'skip_next' : (isCorrectFeedback ? 'check_circle' : 'cancel') }}
    </mat-icon>
    <p class="feedback">{{ feedbackMessage }}</p>
  </mat-card-content>
</mat-card>
