<mat-card class="flashcard" [@flyThrough]="animationState">
  <mat-card-content *ngIf="!isFeedback">
    <p class="question">{{ question }}</p>
    <div class="answers">
      <button *ngFor="let answer of answers" mat-flat-button class="answer-btn" (click)="selectAnswer(answer)">
        {{ answer }}
      </button>
    </div>
  </mat-card-content>

  <mat-card-content *ngIf="isFeedback">
    <mat-icon class="feedback-icon" [ngClass]="{ 'correct': isCorrectFeedback, 'incorrect': !isCorrectFeedback }">
      {{ isCorrectFeedback ? 'check_circle' : 'cancel' }}
    </mat-icon>
    <p class="feedback">{{ feedbackMessage }}</p>
  </mat-card-content>
</mat-card>
