/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
// @use 'theme.css';
@use '@fontsource/inter';

html, body { height: 100%; }
html
{
    font-family: "Inter", "Helvetica Neue", sans-serif;
}

body { margin: 0; }
